.swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .bg_color {
    background-color: #edf2f8;
    background-image: url(https://rajatmondalportfolio.vercel.app/bgWhite.webp);
    background-position: 50%;
    background-repeat: repeat;
    background-size: cover;
}
.holder{
    cursor: pointer;
  }
  .holder img{
    transform: scale(1);
    transition: all 0.3s;
  }
  .info{
    left: -50%;
    transition: all 0.3s;
  }
  .holder:hover .info{
    left: 0%;
  }
  .holder:hover img{
    transform: scale(1.1);
  }
  @media(max-width:768px){
    .container{
        max-width: 620px;
    }
  }
  @media(max-width:576px){
    .swiper-text{
        font-size: 1.5rem!important;
    }
    :root {
        --swiper-navigation-size: 35px!important;
    }
  }
  @media(max-width:400px){
    .swiper-text{
        font-size: 1.3rem!important;
    }
    :root {
        --swiper-navigation-size: 30px!important;
    }
  }